@page "/deepresearch"
@using BlazorAnimation
@using DeepReport.Store
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
  <MudOverlay Visible="@_deepResearchState.Value.IsWaiting" DarkBackground="true" Absolute="true">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true"/>
  </MudOverlay>
</div>

<MudStack Style="height:100%;width:100%;" Class="py-1" Spacing="0">
  <div>
    <MudStack Row="true" StretchItems="StretchItems.Start" AlignItems="AlignItems.Center">
      <div>
        <Animation Effect="@Effect.BounceIn" Speed="@Speed.Fast" Delay="@(TimeSpan.FromSeconds(0.5))">
          @if (_deepResearchState.Value.Stato == EReportState.Completed)
          {
            <h1>Report effettuato</h1>
          }
          else if (_deepResearchState.Value.Stato >= EReportState.Started)
          {
            <h1>Elaborazione in corso...</h1>
          }
          else
          {
            <h1>Nessun report in elaborazione</h1>
          }
        </Animation>
      </div>
      <div>
        @if (_deepResearchState.Value.Stato == EReportState.Completed)
        {
          <MudButton Size="Size.Small" Color="Color.Primary" OnClick="NewReport" StartIcon="@Icons.Material.Outlined.Newspaper" Variant="Variant.Filled">Nuovo report...</MudButton>
          @if (_report_finale.HasValue)
          {
            <MudButton Class="ml-3"  Size="Size.Small" Color="Color.Success" OnClick="OnClickDownload" StartIcon="@Icons.Material.Outlined.Download" Variant="Variant.Filled">Scarica report...</MudButton>
          }
        }
        else if (_deepResearchState.Value.Stato >= EReportState.Started)
        {
          <MudButton Size="Size.Small" Color="Color.Error" Variant="Variant.Outlined" OnClick="OnClickAbort">Abort...</MudButton>
        }
        else
        {
          <MudButton Size="Size.Small" Color="Color.Primary" OnClick="NewReport" Variant="Variant.Filled">Nuovo report...</MudButton>
        }
      </div>
    </MudStack>
    <Animation Effect="@Effect.ZoomIn" Speed="@Speed.Fast" Delay="@(TimeSpan.FromSeconds(0.1))">
      <MudPaper Class="pa-2" Elevation="2" Style="border:solid 1px #ccc;border-left:solid 3px #0000A0">
        <MudStack Row="true" AlignItems="AlignItems.Center">
          <div>
            <img src="images/topic.png" width="46"/>
          </div>
          <div>
            <MudText Typo="Typo.subtitle1">
              Argomento del report:
            </MudText>
            <div style="font-size:1.2em;font-weight:bold;color:#0000A0;">
              @_deepResearchState.Value.Topic
            </div>
          </div>
        </MudStack>
      </MudPaper>
    </Animation>
  </div>
  <MudStack style="flex-grow:1;height:100px;">
    @if (_deepResearchState.Value.Stato < EReportState.Approved)
    {
      <MudStack StretchItems="StretchItems.End" Style="height:100%;" Class="pb-2 mt-3">
        <div style="width:50%;font-weight:bold;">
          Proposta delle sezioni
        </div>
        <MudPaper Class="pa-2 mb-3" Style="border:solid 1px #ccc;overflow-y:auto;">
          <MudStack Row="true" class="pre-writing-message" AlignItems="AlignItems.Center">
            Avvio indentificazione struttura del report
            @if (_deepResearchState.Value.Stato == EReportState.Started)
            {
              <MudProgressCircular Color="Color.Secondary" Size="Size.Small" Indeterminate="true"/>
            }
            else
            {
              <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.CheckCircle"/>
            }
          </MudStack>
          @if (_planning.Any())
          {
            @for (var idx = 0; idx < _planning.Count; idx++)
            {
              var k = idx;
              var message = _planning[idx];
              <MudStack Row="true" class="pre-writing-message" AlignItems="AlignItems.Center">
                @message
                @if (_deepResearchState.Value.Stato is EReportState.Searching or EReportState.Planning && k == _planning.Count - 1)
                {
                  <MudProgressCircular Class="ml-2" Size="Size.Small" Color="Color.Secondary" Indeterminate="true"/>
                }
                else
                {
                  <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.CheckCircle"/>
                }
              </MudStack>
            }
          }
        </MudPaper>
      </MudStack>
    }
    else if (_deepResearchState.Value.Stato <= EReportState.Reviewing)
    {
      <MudStack StretchItems="StretchItems.End" Style="height:100%;" Class="pb-2 mt-3">
        <div style="width:50%;font-weight:bold;">
          Sezioni in elaborazione...
        </div>
        <div style="height:100px;overflow-y:auto;">
          @foreach (var sezione in _deepResearchState.Value.Sezioni)
          {
            <MudStack class="my-2 pa-1" Row="true" AlignItems="AlignItems.Center" style="border: solid 1px #ccc"
                      StretchItems="StretchItems.End">
              <div style="width:24px;text-align:center;">
                <div style="padding:2px;border-radius:18px;background-color:#801010;color:white;">
                  @sezione.Posizione
                </div>
              </div>
              <div style="width:250px;font-weight:bold;">
                @sezione.Titolo
              </div>
              <div style="width:100px;text-align:center;">
                @GetRevisione(sezione)
              </div>
              <div style="width:100px;">
                @sezione.Fase
              </div>
              <div style="width:60px; height:36px; text-align:center;">
                <img src="@GetImageSection(sezione)" height="32"/>
              </div>
              <div>
                @sezione.LastMessage
              </div>
            </MudStack>
          }
          @if (_in_revisione_finale)
          {
            <MudStack Row="true" AlignItems="AlignItems.Center">
              <div style="font-weight:bold;font-size:1.2em;color:#0000A0;" class="mt-3">
                Revisione finale del documento...
              </div>
              <div class="ml-1">
                <img src="images/review.gif" height="48"/>
              </div>
            </MudStack>
          }
        </div>
      </MudStack>
    }
    else
    {
      if (_report_finale.HasValue)
      {
        <div class="md-viewer mt-2" style="height:100%;overflow-y:auto;">
          @_report_finale
        </div>
      }
    }
  </MudStack>

</MudStack>


<style>

  .pre-writing-message {
    color: #007000;
    font-weight: bold;
    height: 40px;
    vertical-align: middle;
    border-bottom: solid 1px #ccc;
  }

  div.md-viewer{
    padding-bottom:3em;
  }

  div.md-viewer ul {
    list-style-type: disc; /* Tipo di punto */
    padding-left: 1.5em; /* Rientro sinistro */
    margin-bottom: 1em; /* Spazio sotto l'elenco */
    color: #333; /* Colore del testo */
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

    div.md-viewer ul li {
      margin-bottom: 0.1em; /* Spazio tra le voci */
    }

  div.md-viewer h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-top: 0.8em; /* Spazio sopra il titolo */
    color: #000; /* Colore del titolo */
    margin-bottom: 0.5em; /* Spazio sotto il titolo */
    background-color:#ddd;
    padding: 2px 6px;
  }

  div.md-viewer h2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000; /* Colore del titolo */
    margin-top: 0.5em; /* Spazio sotto il titolo */
    margin-bottom: 0.1em; /* Spazio sotto il titolo */
      border-bottom: solid 1px #ccc;
  }

    div.md-viewer h3 {
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #000; /* Colore del titolo */
      margin-top: 0.5em; /* Spazio sotto il titolo */
      margin-bottom: 0.1em; /* Spazio sotto il titolo */
    }

  div.md-viewer p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333; /* Colore del testo */
  }

  div.md-viewer a {
    color: blue;
    text-decoration: none;
  }

    div.md-viewer a:visited {
      color: purple;
      text-decoration: none;
    }

    div.md-viewer a:hover {
      color: darkblue;
      text-decoration: none;
    }

    div.md-viewer a:active {
      color: red;
      text-decoration: none;
    }
</style>