<MudDialog>
  <DialogContent>
    <div>
      <div>
        <MudFocusTrap DefaultFocus="DefaultFocus.FirstChild">
          @if (AutocompleteData.Any())
          {
            <MudAutocomplete T="string" @bind-Value="@_inputText" CoerceText="false" CoerceValue="true"
                             ResetValueOnEmptyText="true" MaxHeight="200"
                             Required="TextIsRequired" RequiredError="Il testo è obbligatorio"
                             Dense="true" Margin="Margin.Dense"
                             SearchFunc="OnSearchAutoComplete" Variant="Variant.Text" ShrinkLabel="true" Clearable
                             Label="@Caption">

            </MudAutocomplete>
          }
          else if (NumLines > 1)
          {
            <MudTextField ShrinkLabel="true" Immediate="true"
                          Required="TextIsRequired" RequiredError="Il testo è obbligatorio" OnlyValidateIfDirty="true"
                          ReadOnly="IsReadonly" AutoFocus="true" @bind-Value="@_inputText"
                          Label="@Caption" Lines="@NumLines" Variant="Variant.Outlined" HelperText="@HelpText"></MudTextField>
          }
          else
          {
            <MudTextField ShrinkLabel="true" OnKeyDown="OnKeyDown" Immediate="true"
                          Required="TextIsRequired" RequiredError="Il testo è obbligatorio" OnlyValidateIfDirty="true"
                          ReadOnly="IsReadonly" AutoFocus="true" @bind-Value="@_inputText" Label="@Caption" HelperText="@HelpText"></MudTextField>
          }
        </MudFocusTrap>

      </div>
    </div>
  </DialogContent>
  <DialogActions>
    @if (IsReadonly)
    {
      <MudButton OnClick="Cancel">Esci</MudButton>
    }
    else
    {
      <MudButton Size="Size.Small" DropShadow="false" Color="Color.Default" Variant="Variant.Filled" OnClick="Cancel">@CancelButtonLabel</MudButton>
      <MudButton Size="Size.Small" DropShadow="false" Color="Color.Primary"
                 Disabled="@(IsDisabled())"
                 Variant="Variant.Filled" OnClick="Submit">@OkButtonLabel</MudButton>
    }
  </DialogActions>
</MudDialog>